body {
    background: #ccc;
    overflow: hidden;
}


#book {
    transform: translateX(-480px);
    transition: transform 0.8s ease;

    .turn-page {
        background-color: white;
    }

    .loader {
        background-image: url(assets/loader.gif);
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 238px;
        left: 188px;
    }

    .data {
        text-align: center;
        font-size: 40px;
        color: #999;
        line-height: 500px;
    }

    .book-content {
        font-family: 'Stempel-Garamond-W01-Roman';
        font-size: 16px;
        margin: 52px 40px;
    }

    p {
        margin: 20px 0;
        text-indent: 2em;
        line-height: 22px;
    }

    .no-indent {
        text-indent: 0;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    .p-title {
        text-align: center;
    }

    .page-number {
        color: #999;
        width: 100%;
        bottom: 25px;
        position: absolute;
        display: block;
        text-align: center;
        line-height: 30px;
        font-size: 11px;
    }

    .page-title-odd {
        float: left;
        font-size: 8px;
        color: #999;
        margin: 10px;
        border-bottom: 1px #999 dashed;
        text-align: start;
        padding: 0 2px;
    }

    .page-title-even {
        float: right;
        font-size: 8px;
        color: #999;
        margin: 10px;
        border-bottom: 1px #999 dashed;
        text-align: end;
        padding: 0 2px;
    }

    .create-time {
        text-align: end;
        text-align: end;
        font-size: 14px;
    }

    .odd {
        background-image: -webkit-linear-gradient(left, #fff 95%, #ddd 100%);
        background-image: -moz-linear-gradient(left, #fff 95%, #ddd 100%);
        background-image: -o-linear-gradient(left, #fff 95%, #ddd 100%);
        background-image: -ms-linear-gradient(left, #fff 95%, #ddd 100%);
    }

    .even {
        background-image: -webkit-linear-gradient(right, #fff 95%, #ddd 100%);
        background-image: -moz-linear-gradient(right, #fff 95%, #ddd 100%);
        background-image: -o-linear-gradient(right, #fff 95%, #ddd 100%);
        background-image: -ms-linear-gradient(right, #fff 95%, #ddd 100%);
    }
}

#menu {
    width: 1000px;
    margin: 20px auto;
    text-align: center;

    .icon {
        width: 32px;
        height: 32px;
        margin: 10px 30px;
        cursor: pointer;
        display: inline-block;
        background-size: contain;

        &:hover {
            transform: scale(1.15);
            cursor: pointer;
            transition: transform 0.2s ease;
        }
    }

    #content-table {
        background-image: url(./assets/menu.svg);
    }

    #github {
        background-image: url(./assets/github.svg);
    }

    #email {
        background-image: url(./assets/email.svg);
    }

    #rss {
        background-image: url(./assets/rss.svg);
    }
}

.nav-buttons {
    left: 50%;
    display: flex;
    position: relative;
    width: fit-content;
    padding: 12px 25px;
    border-radius: 5px;
    justify-content: center;
    transform: translateX(-50%);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2),
        inset 0 -4px 8px rgba(255, 255, 255, 0.1);
    background-image: -webkit-linear-gradient(left,
            #E7E7E7 0% 25%,
            #80808042 25% 48%,
            gray 48% 52%,
            #80808042 52% 75%,
            #E7E7E7 75% 100%);
    background-image: -moz-linear-gradient(left,
            #E7E7E7 0% 25%,
            #80808042 25% 48%,
            gray 48% 52%,
            #80808042 52% 75%,
            #E7E7E7 75% 100%);
    background-image: -o-linear-gradient(left,
            #E7E7E7 0% 25%,
            #80808042 25% 48%,
            gray 48% 52%,
            #80808042 52% 75%,
            #E7E7E7 75% 100%);
    background-image: -ms-linear-gradient(left,
            #E7E7E7 0% 25%,
            #80808042 25% 48%,
            gray 48% 52%,
            #80808042 52% 75%,
            #E7E7E7 75% 100%);

    .dep {
        top: 13px;
        width: 16px;
        height: 600px;
        z-index: -1;
        position: absolute;
        background-size: cover;
        transition: all 0.5s ease;
        background-image: url(./assets/pages-depth.png);
    }

    #pre-dep {
        left: 15px;
        background-position: left 0;

    }

    #nex-dep {
        right: 7px;
        background-position: right 0;
    }

    .nav-btn {
        background-image: url(./assets/arrow.svg);
        width: 64px;
        height: 64px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        position: absolute;
        z-index: 100;
    }

    #prev-btn {
        transform: rotateY(180deg);
        left: 1%;
    }

    #next-btn {
        transform: translateX(-40px);
        left: 97%;
    }
}

#slider-wrap {
    padding: 5px 0px;
    margin-top: 16px;

    #slider {
        width: 600px;
        height: 8px;
        background: rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        margin: 20px auto;
        height: 8px;
        box-sizing: border-box;

        #cur {
            z-index: 0;
            width: 80px;
            height: 8px;
            cursor: default;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            border-radius: 5px;
            transition: all 0.7s ease-out;
            border: 1px solid white;
            background-color: black;
            opacity: 0.2;
        }
    }
}

#page2 {
    .author-info {
        display: flex;
        gap: 16px;
        margin-bottom: 40px;
    }

    .author-info img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: solid lightgray;
    }

    .author-detail {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .author-detail div:first-child {
        color: rgb(107 114 128);
    }

    .author-detail div:nth-child(2) {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        font-family: cursive;
    }

    .author-detail div:last-child {
        font-family: cursive;
    }

    .about-me {
        /* color: rgb(107 114 128); */
    }
}

#p3 {
    #list-wrap {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    p {
        text-indent: 0;
    }

    #blog,
    #memo {
        max-width: 44%;
    }

    #blog-list,
    #memo-list {
        flex: 1;
        clear: both;
    }

    #divider {
        width: 1px;
        margin: 20px 20px;
        align-self: stretch;
        background-color: #999;
    }

    .desc {
        float: right;
        font-size: 14px;
        align-self: end;
        position: relative;
        color: #999;
        bottom: 20px;
    }

    .navi {
        width: 100%;

        &:hover {
            cursor: pointer;
            padding: 0 10px;
            background-color: #edeaea;
        }

        border-radius: 10px;
        transition: padding 0.3s ease;
    }

    #about-page {
        float: right;
        color: #999;
        font-size: 1em;
    }

    #mdInfo {
        display: flex;
        justify-content: space-between;

        #mdTitle {
            align-self: flex-start;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #mdPage {
            color: #999;
            font-size: 14px;
        }
    }
}